.loadingScreenContent {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('../assets/images/loading_background.svg');
  background-color: #193166;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  .loadingSubHeading {
    color: white;
    font-family: 'Mulish', sans-serif;
    font-size: 30px;
  }
  .loadingPercentage {
    color: #E08B19;
  }
}