section.mobileMotiveSection {
  height: 100vh;
  display: none;
  align-items: center;
  padding-top: 70px;
  .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    .motive {
      display: flex;
      flex-direction: column;
      align-items: center;
      img {
        margin-bottom: 0.5em;
        width: 2em;
      }
      .name {
        color: #897F77;
        text-align: center;
      }
    }
  }
}

@media only screen and (max-width: 720px) {
  section.mobileMotiveSection {
    display: flex;
  }
}