section.productCatalog {
  .productCatalogBox {
    .productCatalogContainer {
      height: 720px;
      .productCatalogItem {
        padding: 10px;
        .productCatalogItemBox {
          height: 100%;
          background-color: #193166;
          border-radius: 10px;
        }
      }
    }
  }
}