section.productCatalog {
  padding-top: 70px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  .productsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    .heading {
      font-family: Cormorant Garamond;
      color: #786D63;
      margin-bottom: 1em;
      text-align: center;
    }
    .products {
      height: 320px !important;
      width: 100%;
      display: flex;
      justify-content: space-between;
      transition: 750ms ease-in-out all;
    }
    .toggleButton {
      margin-bottom: 1em;
      display: none;
    }
    .viewMoreButton {
      background-color: #193166;
      color: white;
      border: none;
      border-radius: 0;
      font-family: Josefin Sans;
    }
  }
}

@media only screen and (max-width: 720px) {
  section.productCatalog {
    .productsContainer {
      .heading {
        font-size: 6vw;
        text-align: center;
      }
      .products {
        flex-direction: column;
        justify-content: flex-start;
        overflow: hidden;
        height: 260px !important;
      }
      .toggleButton {
        display: initial;
      }
    }
  }
}