section.productCatalog {
  .productsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    .heading {
      font-family: Cormorant Garamond;
      color: #786D63;
    }
    .products {
      width: 100%;
      display: flex;
      justify-content: space-evenly;
    }
    .viewMoreButton {
      color: #193166;
      border-color: #193166;
    }
  }
}