section.sectionTwo {
  background-color: #FCF6F0;
  display: flex;
  height: 100vh;
  position: relative;
  padding-top: 60px;
  overflow: hidden;
  div.upperLayer {
    width: 100vw;
    height: 350px;
    position: absolute;
    top: -30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    z-index: 2;
    .smallHeading {
      color: #193166;
      margin-bottom: 5vh;
      font-family: Josefin Sans;
      .homegrown {
        color: #ce4c16;
      }
    }
    .heading {
      text-align: center;
      font-family: Cormorant;
      color: #E08B19;
      margin-bottom: 5vh;
    }
    .btn {
      margin-bottom: 5vh;
      color: #193166;
      border-color: #193166;
      font-size: 1em;
    }
  }
  .bottomLeaves {
    width: 100%;
    position: absolute;
    bottom: 0px;
    display: flex;
    justify-content: space-between;
  }
}

@media only screen and (max-width: 720px) {
  section.sectionTwo {
    > img {
      width: 30px;
    }
    div.upperLayer {
      top: 40px;
      height: unset !important;
      .manWithFlower {
        width: 50vw;
      }
      .lotus {
        width: 30vw;
      }
    }
    .container {
      justify-content: center;
      .smallHeading {
        font-size: 4vw;
        text-align: center;
        order: 2;
      }
      .heading {
        font-size: 10vw;
        order: 1;
      }
      .btn {
        order: 3;
        font-size: 0.7em;
        background-color: #193166;
        color: #fff;
        border-radius: 0;
      }
    }
    .bottomLeaves {
      img {
        width: 40vw;
        height: unset !important;
      }
    }
  }
}