.featureContainer {
  .featuresBox {
    display: flex;
    justify-content: space-between;
    .feature {
      display: flex;
      flex-direction: column;
      align-items: center;
      transition: 200ms ease-in all;
      img {
        height: 45px;
        margin-bottom: 20px;
        transition: 500ms ease-in all;
      }
      .featureName {
        font-family: Josefin Sans;
        font-weight: 600;
        text-align: center;
      }
    }
    .feature:hover {
      transform: scale(1.05);
      img {
        transform: rotateY(360deg) scale(1.25);  
      }
    }
  }
}

@media only screen and (max-width: 720px) {
  .featureContainer {
    margin: 3em 0 0 0;
    display: none;
    .featuresBox {
      .feature {
        width: 15vw;
        img {
          width: 100%;
        }
        .featureName {
          font-size: 2.5vw;
        }
      }
    }
  }
}