section.partners {
  overflow: hidden;
  .imageContainer {
    display: flex;
    justify-content: center;
  }
  .partnerImage {
    height: 220px;
    width: min-content;
  }
}

@media only screen and (max-width: 720px) {
  section.partners {
    .partnerImage {
      height: 30vw;
    }
  }
}