.visioncontainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;

}
.missionimage {
    width:50%
}
.missionimage img {
        width: 50%;
}
.visiontext p {
    font-size:35px;
    line-height: 52px;
    font-weight: 500;
    width:50%

}