.endToEnd {
  background-color: #fdfaf7;
  padding: 2em 0;
  .endToEndContainer {
    .endToEndContent {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .endToEndHeading {
        width: 50%;
        font-family: Cormorant Garamond;
        color: #786D63;
      }
      .endToEndDescription {
        width: 40%;
        font-family: Josefin Sans;
        span.fontOrange {
          color: #ce4c16;
        }
      }
    }
    .endToEndVideoBox {
      width: 100%;
      // video {
      //   width: 100%;
      // }
      img {
        width: 100%;
      }
    }
  }
}