section.hero {
  text-align: center;
  img {
    width: 100%;
  }
  .heading {
    margin: 0.35em 0;
    letter-spacing: 0.2em;
    color: #193166;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    .desi {
      color: #ce4c16;
      font-style: italic;
    }
  }
  .subHeading {
    font-family: 'Josefin Sans', sans-serif;
    letter-spacing: 0.2em;
    line-height: 40px;
    color: #193166;
  }
  .buttonContainer {
    * {
      color: #193166;
    }
    margin: 1em 0;
    padding: 0 20%;
    display: flex;
    justify-content: space-evenly;
    button {
      border-color: #193166;
      p {
        margin: 0 2rem;
        font-family: 'Josefin Sans', sans-serif;
      }
    }
  }
}