section.hero {
  text-align: center;
  height: 100vh;
  padding-top: 70px;
  .heroContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .smallHeading {
      letter-spacing: 0.2em;
      color: #193166;
      font-family: 'Josefin Sans', sans-serif;
      font-size: 1.5em;
      display: none;
      .desi {
        color: #ce4c16;
        font-style: italic;
        font-family: Cormorant Garamond;
        font-size: 2.5em;
      }
    }
    .heroBannerBox {
      display: flex;
      justify-content: space-between;
      div {
        width: 33%;
        height: 60vh;
        overflow: hidden;
        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
          object-position: center;
        }
      }
      div.heroBannerHeading {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #FCF6F0;
        .heading {
          letter-spacing: 0.2em;
          line-height: 2em;
          color: #193166;
          font-family: 'Josefin Sans', sans-serif;
          font-size: 2.5vw;
          .desi {
            color: #ce4c16;
            font-size: 3em;
            font-family: Cormorant Garamond;
          }
        }
      }
    }
    .subHeading {
      font-family: 'Josefin Sans', sans-serif;
      font-weight: 600;
      letter-spacing: 0.2em;
      line-height: 40px;
      color: #193166;
      margin-top: 1em;
    }
    .buttonContainer {
      * {
        color: white;
        letter-spacing: 0.2em;
      }
      margin-top: 1em;
      padding: 0 15%;
      display: flex;
      justify-content: space-evenly;
      button {
        border-color: #193166;
        background-color: #193166;
        border-radius: 0;
        a {
          text-decoration: none;
        }
        p {
          margin: 0 2rem;
          font-family: 'Josefin Sans', sans-serif;
        }
      }
      .join {
        order: 1;
      }
      .connect {
        order: 0;
      }
      .explore {
        order: 2;
      }
    }
  }
}

@media only screen and (max-width: 720px) {
  section.hero {
    height: 100vh;
    .heroContainer {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      padding: 0;
      .smallHeading {
        display: initial;
      }
      .heroBannerBox {
        margin-bottom: 1em;
        div {
          width: 50%;
          height: 40vh;
        }
        div.heroBannerHeading {
          display: none;
        }
      }
      .subHeading {
        font-size: 3vw;
        line-height: 1.5em;
        margin: 0em 1em;
      }
      .buttonContainer {
        order: 2;
        flex-wrap: wrap;
        justify-content:center;
        padding: 0;
        .join {
          order: 2;
          margin-top: 0.5em;
        }
        .connect {
          width: 40vw;
          order: 1;
        }
        .explore {
          width: 40vw;
          order: 0;
          margin-right: 0.5em;
        }
      }
    }
  }
}