section.missionSection {
  height: 100vh;
  padding-top: 70px;
  .container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    img {
      width: 40%;
    }
    .content {
      width: 50%;
      .heading {
        margin-bottom: 0.25em;
        font-family: Cormorant Garamond;
        color: #786D63;
      }
      .description {
        font-family: Josefin Sans;
        color: #786D63;
        line-height: 1.75em;
      }
    }
  }
}

@media only screen and (max-width: 720px) {
  section.missionSection {
    .container {
      flex-direction: column-reverse;
      justify-content: flex-end;
      position: relative;
      img {
        position: absolute;
        bottom: -2em;
        width: 60%;
      }
      .content {
        width: 100%;
        z-index: 2;
        text-align: center;
      }
    }
  }
}