section.pictureCatalog {
  overflow: hidden;
  .catalogContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    .catalogHeading {
      font-family: 'Cormorant Garamond';
      text-align: center;
      color: #786D63;
      margin-bottom: 0.5em;
    }
    .paintingsContainer {
      width: 100%;
      display: flex;
      justify-content: center;
      .imageContainer {
        .paintingImageContainer {
          position: relative;
          transition: 250ms ease-in-out all;
          img {
            border: 10px solid black;
            cursor: pointer;
            transition: 250ms ease-in-out all;
            margin: 10px;
            position: relative;
            padding: 13px;
          }
          img::after {
            content: 'Name';
            position: absolute;
            top: 0;
            right: 0;
            z-index: 5;
          }
          .paintingMiniInfo {
            display: none;
            position: absolute;
            right: -87px;
            top: 2em;
            .name {
              width: 110px;
              background-color: #193166;
              color: white;
              font-size: 12px;
              padding: 2px 6px;
              font-family: Josefin Sans;
            }
            .description {
              width: 80px;
              background-color: #E08B19;
              color: white;
              font-size: 8px;
              padding: 2px 6px;
              font-family: Josefin Sans;

            }
          }
        }
        .paintingImageContainer:hover {
          z-index: 5;
          transform: scale(2);
          img {
            border: none;
            box-shadow: none;
          }
          .paintingMiniInfo {
            display: initial;
          }
        }
      }
      .firstContainer {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;
      }
      .secondContainer {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .thirdContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    }
    .imageButtonBox {
      background-color: #FCF6F0;
      height: 309px;
      width: 100vw;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      margin-top: 12em;
      img {
        position: absolute;
        top: -10em;
      }
      .viewMoreButton {
        color: #193166;
        border-color: #193166;
        border-width: 2px;
        font-family: 'Josefin Sans', sans-serif;
        position: absolute;
        bottom: 3em;
      }
    }
    .viewMoreSmallButton {
        display: none;
        color: #193166;
        border-color: #193166;
        border-width: 2px;
        font-family: 'Josefin Sans', sans-serif;
        margin-top: 1em;
    }
    .toggleButton {
      display: none;
      margin-top: 1em;
    }
  }
}

.modalBox {
  display: flex;
  align-items: center;
  position: relative;
  * {
    font-family: 'Josefin Sans' !important;
    color: #897F77;
  }
  .closeButton {
    position: absolute;
    top: 0em;
    right: 0.4em;
    cursor: pointer;
    border: none;
    background-color: transparent;
    font-size: 4em;
    color: #193166;
    opacity: 0.75;
    transition: 300ms ease-in-out all;
  }
  .closeButton:hover {
    opacity: 1;
  }
  .artImageContainer {
    width: 40%;
    img {
      width: 100%;
    }
  }
  .artContentContainer {
    width: 60%;
    margin-top: 2em;
    .viewMoreButton {
      color: #193166;
      border-color: #193166;
      span {
        color: #193166;
      }
    }
  }
}

@media only screen and (max-width: 720px) {
  section.pictureCatalog {
    .catalogContainer {
      .catalogHeading {
        font-size: 5.5vw;
        color: black;
      }
      .paintingsContainer {
        flex-direction: column;
        justify-content: flex-start;
        overflow: hidden;
        transition: 750ms ease-in-out all;
        .imageContainer {
          flex-direction: column;
          align-items: center;
          .paintingImageContainer {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 1em 0;
            img {
              width: 260px;
            }
            .paintingMiniInfo {
              display: initial;
              position: initial;
              text-align: center;
              width: 100%;
              .name {
                width: 100%;
                font-size: 1.5em;
                background: none;
                color: #193166;
                text-transform: uppercase;
              }
              .description {
                width: 100%;
                font-size: 1em;
                background: none;
                color: #193166;
                font-weight: bold;
              }
            }
          }
          .paintingImageContainer:hover:hover {
            transform: scale(1);
          }
        }
      }
      .imageButtonBox {
        display: none;
      }
      .viewMoreSmallButton {
        display: initial;
      }
      .toggleButton {
        display: initial;
      }
    }
  }
  .modalBox {
    width: 90vw !important;
    flex-direction: column;
    height: 90vh;
    overflow: scroll;
    padding: 64px 32px !important;
    * {
      text-align: center;
      font-size: 4vw;
    }
    .artImageContainer {
      width: 100%;
    }
    .artContentContainer {
      width: 100%;
      .name {
        font-size: 5vw;
        text-transform: uppercase;
      }
      .artist {
        margin-top: 0.5em;
        font-size: 5vw;
        color: #193166;
      }
    }
  }
}