section.pictureCatalog {
  overflow: hidden;
  // height: 600px;
  .catalogContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    .catalogHeading {
      font-family: 'Cormorant Garamond';
      text-align: center;
      color: #786D63;
      margin-bottom: 0.5em;
    }
    .paintingsContainer {
      width: 100%;
      display: flex;
      justify-content: center;
      .imageContainer {
        .paintingImageContainer {
          position: relative;
          transition: 250ms ease-in-out all;
          img {
            border: 10px solid black;
            cursor: pointer;
            transition: 250ms ease-in-out all;
            margin: 10px;
            position: relative;
          }
          img::after {
            content: 'Name';
            position: absolute;
            top: 0;
            right: 0;
            z-index: 5;
          }
          .paintingMiniInfo {
            display: none;
            position: absolute;
            right: -87px;
            top: 2em;
            .name {
              width: 110px;
              background-color: #193166;
              color: white;
              font-size: 12px;
              padding: 2px 6px;
              font-family: Josefin Sans;
            }
            .description {
              width: 80px;
              background-color: #E08B19;
              color: white;
              font-size: 8px;
              padding: 2px 6px;
              font-family: Josefin Sans;

            }
          }
        }
        .paintingImageContainer:hover {
          z-index: 5;
          transform: scale(2);
          img {
            border: none;
            box-shadow: none;
          }
          .paintingMiniInfo {
            display: initial;
          }
        }
      }
      .firstContainer {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;
      }
      .secondContainer {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .thirdContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    }
    .imageButtonBox {
      background-color: #FCF6F0;
      height: 309px;
      width: 100vw;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      margin-top: 12em;
      img {
        position: absolute;
        top: -10em;
      }
      .viewMoreButton {
        color: #193166;
        border-color: #193166;
        border-width: 2px;
        font-family: 'Josefin Sans', sans-serif;
        position: absolute;
        bottom: 3em;
      }
    }
  }
}

.modalBox {
  display: flex;
  align-items: center;
  position: relative;
  * {
    font-family: 'Josefin Sans' !important;
    color: #897F77;
  }
  .closeButton {
    position: absolute;
    top: 0em;
    right: 0.4em;
    cursor: pointer;
    border: none;
    background-color: transparent;
    font-size: 4em;
    color: #193166;
    opacity: 0.75;
    transition: 300ms ease-in-out all;
  }
  .closeButton:hover {
    opacity: 1;
  }
  .artImageContainer {
    width: 40%;
    img {
      width: 100%;
    }
  }
  .artContentContainer {
    width: 60%;
    margin-top: 2em;
    .viewMoreButton {
      color: #193166;
      border-color: #193166;
      span {
        color: #193166;
      }
    }
  }
}