div.productCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  .imagePlaceHolder {
    height: 250px;
    width: 250px;
    background-color: #C4C4C4;
  }
  .productImage {
    height: 220px;
    width: 220px;
    object-fit: cover;
    object-position: center;
  }
  .name {
    margin-top: 1.5em;
    color: #193166;
    font-family: Josefin Sans;
  }
}

@media only screen and (max-width: 720px) {
  div.productCard {
    img {
      height: unset !important;
    }
    .name {
      font-size: 1em;
    }
  }
  div.productCard:not(:last-child) {
    margin: 0 0 3em 0;
  }
  div.productCard:last-child {
    margin: 0;
  }
}