header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 150px;
  nav {
    min-width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .navLink {
      font-family: 'Josefin Sans', sans-serif;
      cursor: pointer;
      letter-spacing: 0.2em;
      font-weight: 600;
      color: #193166;
    }
  }
  img {
    height: 80px;
  }
}