header {
  * {
    font-family: 'Mulish', sans-serif !important;
    color: #193166;
    font-weight: bold !important;
  }
  .navBar {
    .navTab {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}