footer {
  background-color: #193166;
  padding-top: 100px;
  height: 100vh;
  position: relative;
  overflow: hidden;
  * {
    color: white;
    font-family: Cormorant Garamond !important;
  }
  .container {
    display: flex;
    justify-content: space-between;
    z-index: 2;
    div.firstHalf {
      width: 50%;
      .heading {
        width: 80%;
      }
      .socialMedia {
        margin: 1em 0;
        .icon:not(:last-child) {
          margin-right: 0.5em;
        }
      }
      .copyright {
        font-family: Josefin Sans !important;
        font-size: 0.8em;
        font-weight: lighter;
      }
    }
    div.secondHalf {
      width: 40%;
      .searchEngine {
        width: fit-content;
        display: flex;
        align-items: center;
        margin-bottom: 2em;
        background-color: #fff;
        padding: 5px 10px;
        * {
          color: #193166;
        }
        input {
          border: none;
          outline: none;
          width: 20vw;
          font-size: 1em;
        }
      }
      .navigationLinks {
        display: flex;
        flex-direction: column;
        width: fit-content;
        .navLink {
          text-decoration: none;
          font-size: 1.2em;
          font-family: Josefin Sans !important;
          margin-bottom: 1.5em;
        }
        .otherLink {
          font-size: 0.8em !important;
          font-family: Josefin Sans !important;
          margin-bottom: 1.5em;
        }

      }
    }
  }
  img {
    position: absolute;
    bottom: -5em;
    width: 100%;
  }
}