footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em 0;
  background-color: #09184B;
  color: white;
  .footerLink {
    margin: 5px 0;
    cursor: pointer;
  }
  .paymentMethodImage {
    margin-top: 1.5em;
  }
}