section.catalogSmall {
  * {
    font-family: Mulish;
    font-size: 1.2rem;
  }
  .catalogSmallImageHolder {
    height: 283px;
    background-color: #193166;
    border-radius: 40px;
    overflow: hidden;
  }
}