
.sectiontwo {
    text-align: center;
    font-size: 27px;
    color:#193166;

}
.sectiontwo span {
    color:#E08B19;

}
.sectiontwo_Heading {
    color:#E08B19;
    font-size: 117px;
    text-align: center;

}