.artistWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .artistContent {
    .artistName {
      margin-bottom: 1em;
      font-weight: bold;
    }
  }
  .artistPicture {
    height: 200px;
    min-width: 200px;
    background-color: #193166;
    border-radius: 50%;
  }
}
.slick-slide:nth-child(2n) {
  .artistWrapper {
    flex-direction: row-reverse;
    .artistPicture {
      margin-right: 2em;
    }
  }
}
.slick-slide:nth-child(2n+1) {
  .artistWrapper {
    .artistContent {
      margin-right: 2em;
    }
  }
}