
.aboutimg {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sectiontext {
text-align: center;
}
.sectiontext p {
    font-size: 23px;
    line-height: 39px;
    color:#193166;
    
}