section.features {
  margin-top: 50px;
  padding: 5em 0;
  background-color: #fdfaf7;
  .featuresBox {
    display: flex;
    justify-content: space-between;
    .feature {
      display: flex;
      flex-direction: column;
      align-items: center;
      transition: 200ms ease-in all;
      img {
        height: 45px;
        margin-bottom: 20px;
        transition: 500ms ease-in all;
      }
      .featureName {
        font-family: Josefin Sans;
        font-weight: 600;
        text-align: center;
      }
    }
    .feature:hover {
      transform: scale(1.05);
      img {
        transform: rotateY(360deg) scale(1.25);  
      }
    }
  }
}

@media only screen and (max-width: 720px) {
  section.features {
    padding: 2em 0 4em 0;
    .featuresBox {
      overflow-x: scroll;
      padding: 2em 0;
      .feature {
        min-width: 30vw;
        .featureName {
          font-size: 3vw;
        }
      }
    }
  }
}